[submodule "frontend"]
	path = frontend
	url = https://github.com/SENODROOM/Babar-Paint-Palace-Frontend.git
[submodule "backend"]
	path = backend
	url = https://github.com/SENODROOM/Babar-Paint-Palace-Backend.git
